.page-section {
  position: relative;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 1144px;
  }

  &__title {
    font-family: var(--bold);
    font-size: 48px;
    line-height: 58px;
  }

  &--team &__header {
    margin-bottom: 41px;
  }

  &--requisites {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
}

@media screen and (max-width: 1350px) {
  .page-section {
    position: relative;
  
    &--contacts {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}

@media screen and (max-width: 768px) {
  .page-section {

    &__title,
    &__desc {
      display: inline-block;
    }

  }
}

@media screen and (max-width: 600px) {
  .page-section {

    &--contacts {
      gap: 24px;
    }

  }
}

@media screen and (max-width: 425px) {
  .page-section {
  
    &--contacts {
      gap: 24px;
    }
  }
}