.team {
  position: unset;
  

  &__slide {
    display: flex;
    flex-direction: column;
  }

  &__employee {
    padding: 24px 32px;
    border: 1px solid var(--disabled);
    border-top: none;
  }

  &__employee-title {
    font-family: var(--bold);
    font-size: 16px;
    line-height: 24px;
  }

  &__employee-post {
    font-size: 14px;
    line-height: 34px;
    color: var(--grey);
  }

  &__controllers {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__controllers--pagination {
    display: none;
  }

}

@media (max-width: 768px) {
  .team {
  
    &__controllers {
      display: none;
    }
  
    &__controllers--pagination {
      display: block;
      margin-top: 40px;
    }
  }
}

@media (max-width: 600px) {
  .team {
  
    &__controllers--pagination {
      margin-top: 24px;
    }
    
  }
}