.map {
  position: relative;
  width: 100%;
  height: 720px;
  background-color: var(--inactive);
  background-image: url('../../../images/map/map.png');
  
}

@media screen and (max-width: 1440px) {

  .map {
    height: 696px;
    background-image: url('../../../images/map/map-2.png');
  }

}

@media screen and (max-width: 1350px) {

  .map {
    height: 400px;
    background-size: cover;
  }

}

@media screen and (max-width: 768px) {

  .map {
    background-image: url('../../../images/map/map-3.png');
  }

}

@media screen and (max-width: 425px) {

  .map {
    background-image: url('../../../images/map/map-4.png');
  }

}

@media screen and (max-width: 375px) {

  .map {
    height: 280px;
    background-image: url('../../../images/map/map-4.png');
    background-size: contain;
  }

}