@font-face {
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat-SemiBold'),
    url(../../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'),
    url(../../fonts/Montserrat-Regular.ttf);
}