:root {

  --white: #ffffff;
  --black: #282828;
  --grey: #818181;
  --light-grey: #F2F2F2;
  --bg-grey: #FAFAFA;
  --green: #00A55A;
  --dim-green: #E5F6EE;

  --inactive: #f2f2f2;
  --inactive-text: #636e72;

  --regular: Montserrat-Regular, Helvetica, sans-serif;
  --bold: Montserrat-SemiBold, Helvetica, sans-serif;
}