:root {

  --white: #ffffff;
  --black: #282828;
  --grey: #818181;
  --light-grey: #f2f2f2;
  --bg-grey: #fafafa;
  --green: #00a55a;
  --dim-green: #e5f6ee;

  --inactive: #f2f2f2;
  --inactive-text: #636e72;
  --disabled: #d9d9d9;

  --regular: Montserrat-Regular, Helvetica, sans-serif;
  --bold: Montserrat-SemiBold, Helvetica, sans-serif;
}