.office {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__slide {
    width: 100%;
    height: 396px;
  }
}

@media screen and (max-width: 1200px) {
  .office {
  
    &__slide {
      width: 552px;
    }
  }
}

@media screen and (max-width: 600px) {
  .office {

    gap: 24px;
  
    &__slide {
      width: 100%;
      height: 252px;
    }
  }
}