.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 26px;
  font-size: 16px;
  max-width: max-content;
  cursor: pointer;
  
  &--colored {
    background-color: var(--green);
    color: var(--white);
  }

  &--alternative {
    color: var(--green);
    background-color: var(--dim-green);
  }

}

@media screen and (max-width: 1350px) {

  .btn {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }

}