.requisites {

  width: 100%;
  max-width: 1144px;

  th,
  td {
    padding: 16px 32px;
    border: 1px solid var(--disabled);
    font-size: 16px;
    line-height: 24px;
  }

  th {
    text-align: left;
    width: 440px;
    font-family: var(--bold);
    
  }

  tr:hover {
    background-color: var(--bg-grey);
    position: relative;
  }

  tr td {
    position: relative;
  }

  tr td:hover::before {
    content: '';
    position: absolute;
    right: 26px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: url('../../../images/svg/copy.svg') 50% 50% no-repeat;
    background-color: var(--bg-grey);
  }
  
}

@media screen and (max-width: 1600px) {

  .requisites {

    max-width: 100%;
    
  }
  
}

@media screen and (max-width: 1200px) {

  .requisites {

    width: 100%;
    max-width: 1144px;
  
    th {
      width: 260px;      
    }
    
  }
  
}

@media screen and (max-width: 600px) {

  .requisites {

    th,
    td {
      width: 100%;
      padding: 16px 0;
      font-size: 14px;
      line-height: 20px;
      border-left: none;
      border-right: none;
    }
    
  }
  
}